h1, p, form, button {
	text-align: center;
}

@keyframes test {
	0%   { opacity: 0; }
  	75% { opacity: 1; }
}


.box {
	background-color: violet;
	animation: test 2s infinite;
	animation-timing-function: ease-in-out;
}