h1, p, form, button {
	text-align: center;
}

.scissors {
  	background: url('../images/scissors-sprite-2.png') left center;
  	width: 345px;
	height: 205px;
	animation: play .9s steps(7) infinite;
	padding-bottom: 150px;
	margin: 2% auto;
}

@keyframes play {
   100% { background-position: -2391px; }
}