h1, p, form, button {
	text-align: center;
}

.rock {
	background: url('../images/rock-clipart.jpeg') left center;
	margin: 2% auto;
	width: 340px;
	height: 170px;
	/*animation: rock-play .9s steps(7) infinite;*/
}

@keyframes rock-play {
   100% { transform: translate(10px, 10px) }
}

/*.scissors {
  	background: url('../images/scissors-sprite-2.png') left center;
  	width: 340px;
	height: 170px;
	animation: scissors-play .9s steps(7) infinite;
	padding-bottom: 150px;
	margin: 2% auto;
}

@keyframes scissors-play {
   100% { background-position: -2391px; }
}*/

